.Thanhdz {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 150px;
}

.Thanhdz .Animals {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #d26ab6;
}

.Thanhdz .Animals img {
    max-width: 100%;
    height: auto;
}

.Thanhdz .Animals h2 {
    margin-top: 0;
    font-size: 30px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.Thanhdz .Animals p {
    margin-bottom: 0;
    color: #fbfafa;
    font-size: 20px;
}

.Thanhdz .Animals a {
    display: block;
    margin-top: 10px;
    background-color: #e17a34;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Thanhdz .Animals a:hover {
    background-color: #b31c1c;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .Thanhdz {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
