.guide1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #090202;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.guide1 h1 {
    text-align: center;
    color: #fefdfd;
}
.guide1 p {
    line-height: 1.6;
    color: #eae0e0;
}
.guide1 li{
    color: white;
    margin-top: 30px;
}